/* Products CSS */

h3 {
    text-decoration: underline;
}

main {
    margin: 100px auto 10px;
    text-align: center;
    width: 80vw;
}

#searchBox {
    margin-right: 10px;
}

.product-selection {
    display: inline-block;
    margin-top: 20px;
}

.items {
    display: inline-block;
    font-size: .8rem;
    margin: 10px;
    max-width: 30vw;
}

.items a:hover {
    border: none;
    padding: 0;
}

.items img {
    display: inline-block;
    width: 35vw;
}

.items p {
    display: block;
}

.price {
    color: red;
}

.filter-button {
    display: inline-block;
    margin-left: 10px;
}

.desktops {
    display: inline-block
}

.laptops {
    display: inline-block
}

.headsets {
    display: inline-block
}

.mice {
    display: inline-block
}

@media (min-width: 50rem) {
    .products {
        margin: 30px auto;
        text-align: left;
    }
    .products-main {
        width: 90vw;
    }
    .items {
        max-width: 15vw;
    }
    .items img {
        width: 16vw;
    }
}
