/* Shared CSS */
* {
    box-sizing: border-box;
}

html {
    font-family: 'Orbitron', sans-serif;
}

.redtext {
    color: red;
}


a:link {
    color: black;
    text-decoration: none;
}
    
a:visited {
    color: black;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: solid 2px black;
    display: inline-block;
    padding: 0px 16px;
    background-color: white;
    z-index: 10;
}

.logo {
    display: inline-block;
    padding-left: 30px;
}

.logo a:hover, a:active {
    border: none;
    padding: 0;
}

#logo-image {
    font-size: 0;
}


.cart-logo {
    position: absolute;
    display: none;
    background: url(../images/normalcart.png) no-repeat;
    width: 30px;
    height: 20px;
    right: 2%;
    top: 35px;
}

.cart-logo a {
    font-size: 0;
}

.cart-logo:hover {
    background: url(../images/hovercart.png) no-repeat;
}

.cart-logo a:hover {
    border: none;
}

.toggle-button {
    width: 3rem;
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    font-size: 0px;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    right: 0;
    margin: 0.6rem 0;
}

.mobile-nav {
    text-align: right;
    position: fixed;
    display: none;
    top: 83px;
    padding-top: 10px;
    width: 50vw;
    height: 40vh;
    right: 0;
    background-color: white;
    z-index: 11;
    border: solid 2px black;;
    border-top: solid 2px white;
}

.mobile-nav li {
    list-style: none;
    font-size: 2rem;
    padding: 1rem;
    z-index: 5;
}

.navbar {
    display: none;
    position: absolute;
    text-align: right;
    bottom: 15%;
    width: calc(90% - 100px);
}

.navbar__li {
    position: relative;
    list-style: none;
    display: inline-block;
    top: 25px;
    border: solid 2px transparent;
    border-radius: 15px;
    padding: 2px 3px;
    margin: 0 5px;
}

.navbar__li:hover {
    border: solid 2px rgb(175, 26, 26);
}


.navbar__search {
    position: relative;
    list-style: none;
    top: 25px;
    display: inline-block;
    border: solid 2px transparent;
    border-radius: 15px;
    padding: 2px 3px;
    margin: 0 5px 20px;
}

.navbar__search:hover {
    border: solid 2px rgb(175, 26, 26);
}

.navbar__search:hover .searchDrop {
    display: block;
}

.searchDrop {
    position: absolute;
    display: none;
    margin-top: -20px;
    padding: 15px;
    top: 45px;
    left: 0px;
    font-size: .8em;
    text-align: left;
    background-color: white;
    border: solid 2px rgb(175, 26, 26);
    border-radius: 5px;
}

.navbar__categories {
    position: relative;
    list-style: none;
    display: inline;
    top: 25px;
    border: solid 2px transparent;
    border-radius: 15px;
    padding: 8px;
    margin: 0 5px;
}

.navbar__categories:hover {
    padding-bottom: 150px;
    border: solid 2px rgb(175, 26, 26);
    background-color: white;
    border-radius: 15px;
}

.navbar__categories a:hover {
    color: rgb(175, 26, 26);
    border: none;
    padding: 0;
}

.navbar__categories:hover .categoryDrop {
    display: block;
}

#last {
    margin-bottom: 3px;
}

.categoryDrop {
    background: white;
    position: absolute;
    display: none;
    text-align: left;
    right: 21px;
    padding: 0;
    bottom: 12px;
}

.categoryDrop a:hover {
    border: none;
    padding: 0;
}

footer {
    bottom: 0px;
    text-align: center;
    border-top: solid 2px black;
}

.footer-bottom {
    list-style: none;
}

.footer-bottom li {
    display: inline;
    font-size: .6rem;
    padding: 5px;
}

.footer-bottom li a:hover {
    color: rgb(175, 26, 26);
    border: none;
    padding: 0px;
}

@media (min-width: 800px) {
    .navbar {
        display: inline-block;
    }
    .cart-logo {
        display: inline-block;
    }
    .mobile-nav {
        display: none;
    }
    .toggle-button {
        display: none;
    }
    .toggle-button__bar {
        display: none;
    }
}